@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --font1: 'Righteous', cursive;
    --font2: 'Sarala', sans-serif;
    --cor1: #0C0F1B;
    --cor2: #030307;
    --cor3: #212429;
    --cor4: #0F1113;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
    background-attachment: fixed;
}

header{
    color: white;
    background-image: linear-gradient(to top, var(--cor2), var(--cor1));
}

header > h1{
    font-family: var(--font1);
    text-align: center;
    padding: 40px 10px 40px 10px;
}

header > p{
    font-family: var(--font2);
    text-align: justify;
    padding: 0px 40px 40px 40px;
}

main{
    color: white;
    font-family: var(--font2);
}

h2{
    padding: 20px 0px 10px 20px;
}

.caixa{
    max-height: 240px;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    overflow-x: auto;
}

.caixa::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
    color: white;
    font-family: var(--font2);
    background-color: #373c44;
    margin-right: 10px;
    border-radius: 10px;
    height: 220px;
    min-width: 220px;
}

a > img{
    width: 200px;
    margin: 12px 0px 0px 10px;
}

a > h3{
    text-align: center;
}

a > p{
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
}

a > p::after{
    content: "Read More";
    text-decoration: underline;
}